{% extends "::base.html.twig" %}

{% block title %}
    Crear - Hoja de evolución
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Hoja de evolución
            <small>Añadir una Hoja de evolución</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="row">
            <h2></h2>
            <div class="col-md-12">
                <div class="box box-default box-form">
                    <h1>Hoja de evolución</h1>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn box-btn-submit btn-info pull-right" value="Siguente">
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
