{% extends 'base.html.twig' %}
{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Error {{ status_code }}
            <small>{{ status_text }}</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! URL no encontrada.</h3>
                <p>
                    No se pudo encotrar la pagina que buscas.
                    Puedes intentar <a href="{{ path('homepage') }}">regresar a la pagina de inicio</a> o usar el formulario de busqueda.
                </p>
                <form action="/buscar" method="get" class="search-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar">
                        <div class="input-group-btn">
                            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
