{% extends 'base.html.twig' %}
{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Error {{ status_code }}
            <small>{{ status_text }}</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">403</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Parece que no tienes acceso a esta área.</h3>
                <p>
                    No se pudo mostrar la pagina que solicitas ya que está en un área restringida del sistema.
                    Puedes intentar <a href="{{ path('homepage') }}">regresar a la pagina de inicio</a> o usar el formulario de busqueda.
                </p>
                <form action="/buscar" method="get" class="search-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar">
                        <div class="input-group-btn">
                            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i></button>
                        </div>
                    </div><!-- /.input-group -->
                </form>
            </div><!-- /.error-content -->
        </div><!-- /.error-page -->
    </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}
