{% extends "::base.html.twig" %}

{% block title %}AppBundle:Profile:show{% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Perfil
            <small>Ver tu perfil</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i>Home</a></li>
            <li class="active"><i class="fa fa-user-plus active"></i>Perfil</li>
        </ol>
    </section>
{% endblock %}

{% block ContentBody %}
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div><!-- /.row (main row) -->
        <a class="btn btn-success" href="{{ path('fos_user_profile_edit') }}">Editar</a>
    </section><!-- /.content -->
{% endblock %}