{% extends '::base.html.twig' %}

 {% block title %}
     Crear - Hoja de signos vitales
 {% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Hoja de signos vitales
            <small>Crear una nueva hoja de signos vitales</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <h2></h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-default box-form">
                    <h1>Hoja de signos vitales</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn box-btn-submit btn-info pull-right" value="Siguiente">
                    {{ form_end(form) }}

                </div>
            </div>
        </div><!-- /.row (main row) -->

    </section>
{% endblock %}