@import "../less/bootstrap-less/bootstrap";
@import "../less/font-awesome/font-awesome";
@import "../less/ionicons/ionicons";
@import "../less/Admin-LTE/AdminLTE";
//@import "../less/Admin-LTE/skins/_all-skins";
@import "../less/Admin-LTE/skins/skin-purple-light";
@import "../less/sb-admin-2/timeline";
//@import "../less/sb-admin-2/sb-admin-2";

/*!
 * My shit starts here 😀
 * Copyright 2011-2016 Brightsoft, Inc.
 */

.box-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-top: 15px;
}

.box-timeline {
  position: relative;
  height: 300px;
  margin-top: 10px;
  overflow: auto;
}
.box-btn-submit{
  margin-top: 10px
}