{% extends "::base.html.twig" %}

{% block title %}
    Guardar - Consulta
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Consulta
            <small>Añadir una Consulta</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">

        <div class="row">
            <h2></h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-default box-form">

                    <h1>Consulta</h1>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-info box-btn-submit pull-right" value="Siguiente">
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>

    </section>


{% endblock %}
