{% extends "::base.html.twig" %}

{% block title %}AppBundle:HojaMedico:new{% endblock %}

{% block ContentHeader %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
                <h1>
                        Consulta
                        <small>Añadir una Consulta</small>
                </h1>
                <ol class="breadcrumb">
                        <li><a href="{{ path('app_hojamedico_fetch', {'id':paciente.id}) }}"><i class="fa fa-medkit active"></i> Consulta</a></li>
                        {#<li class="active"Crear consulta</li>#}
                </ol>
        </section>
{% endblock %}

{% block ContentBody %}

        <!-- Main content -->
        <section class="content">

                <!-- Main row -->
                <div class="row">
                        <h2></h2>
                        <div class="col-md-6 col-md-offset-3">
                                <div class="box box-default">

                                                <h1>Consulta</h1>
                                                {{ form_start(edit_form) }}
                                                {{ form_widget(edit_form) }}
                                                <input type="submit" class="btn btn-info pull-right" value="Siguiente">

                                                {{ form_end(edit_form) }}

                                </div>
                        </div>
                </div><!-- /.row (main row) -->

        </section><!-- /.content -->


{% endblock %}
