{% extends "::base.html.twig" %}

{% block title %}AppBundle:Consulta:new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function($){
            $("#fetch").click(function(){
                $("#paciente").load("{{ path('app_paciente_fetch') }}",{id:$("#cid").val()},function(){
                    $("[data-mask]").inputmask();
                })
            })
        })(jQuery);
    </script>
{% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Consulta {{ dump(app) }}
            <small>Añadir una nuevo paciente</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('app_consulta_new') }}"><i class="fa fa-medkit active"></i> Consulta</a></li>
            {#<li class="active"Crear consulta</li>#}
        </ol>
    </section>
{% endblock %}

{% block ContentBody %}

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <h2></h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Crear un nueva consulta</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">CI</label>
                                <div class="col-sm-10">
                                    <input id="cid" data-inputmask="'mask': '999999-99999'" data-mask type="text" class="form-control"
                                           placeholder="Carnet de Identidad">
                                    </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button id="fetch" class="btn btn-info pull-right">Enviar</button>
                        </div><!-- /.box-footer -->
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="box box-default" id="paciente">
                    </div>
                </div>
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->


{% endblock %}