{% extends '::base.html.twig' %}

{% block title %}
    Pacientes Ingresados
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Pacientes Ingresados
            <small>Pacientes ingresados por salas</small>
        </h1>
    </section>
{% endblock %}
{% block ContentBody %}

{% endblock %}




