{% extends "::base.html.twig" %}

{% block title %}
    Alta/Baja - Ingreso
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Ingreso
            <small>Dar de alta/baja a un paciente</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <h2></h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-default box-form">

                    <h1>Dar de alta/baja</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn box-btn-submit btn-info pull-right" value="Siguiente">
                    {{ form_end(form) }}

                </div>
            </div>
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function ($) {
            var $n = $("#ingreso_end_necropsia"), $doa = $("#ingreso_end_estadoEgreso");
            console.log($doa, $n);
            $n.attr('disabled','');
            $doa.change(function(e){
                console.log($(e.target).val()=="Fallecido");
                if($(e.target).val()=="Fallecido"){
                    $n.removeAttr('disabled');
                }else{
                    $n.attr('checked',false);
                    $n.attr('disabled','');
                    $("#ingreso_end_repercusionIncapacidadFisica").val("");
                    $("#ingreso_end_seguimiento").val("");

                }
            });
        })(jQuery);
    </script>
{% endblock %}
