{% extends "::base.html.twig" %}
{% block title %}AppBundle:Ingreso:show{% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            AppBundle:Ingreso:show
            {#<small>Control panel</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-home active"></i> Home</li>
        </ol>
    </section>
{% endblock %}
{% block ContentBody %}
    <section class="content">
        <div class="row">

            <div>
                Paciente: {{ ingreso.paciente.nombre }}
                <br>
                Tiempo de ingreso:{{ ingreso.fechaIngreso|ago }}
            </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-default ">
                        <div class="box-header with-border">
                            <i class="fa fa-heartbeat fa-fw"></i> Complementarios
                        </div>
                        <div class="box-body box-timeline">
                            <ul class="timeline">
                                {% for element in timeline %}
                                    <li class="{% if (loop.index + 1) %2 %}timeline-inverted{% else %}{% endif %}">
                                        {% set template = "@App/Timeline/" ~ (element|class) ~ ".html.twig" %}
                                        {% include template with {'element': element} %}

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
