<div class="timeline-badge success">
    <i class="fa fa-heartbeat"></i>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">{{ element.nombre }}</h4>
        <p>
            <small class="text-muted"><i
                        class="fa fa-clock-o"></i> {{ element.datetime|date('d/m/y') }} {{ element.datetime|ago }}
            </small>
        </p>
    </div>
    <div class="timeline-body">
        <p>{{ element.resultado }}</p>
    </div>
</div>