<div class="timeline-badge danger">
    <i class="fa fa-check"></i>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">Hoja de evolución</h4>
        <p>
            <small class="text-muted"><i
                        class="fa fa-clock-o"></i> {{ element.datetime|date('d/m/y') }} {{ element.datetime|ago }}
            </small>
        </p>
    </div>
    <div class="timeline-body">
        <p><a href="{{ path('hoja_medico_show', {'id': element.id }) }}">Mostrar hoja de evolución</a></p>
    </div>
</div>