{% extends '::base.html.twig' %}

{% block Content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home active"></i> Home</a></li>
            {#<li class="active">Dashboard</li>#}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">

        </div><!-- /.row (main row) -->

    </section><!-- /.content -->

{% endblock %}