{% extends '::base.html.twig' %}

{% block title %}
    Buscar
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Buscar
            <small>Resultados de la busqueda</small>
        </h1>
    </section>
{% endblock %}
{% block ContentBody %}

{% endblock %}